In [4]:
import pandas as pd

dtafile = './Downloads/fedminwage (2).dta'
hf = pd.read_stata(dtafile)

new_values = {
    "year": [1960,1961,1962,1963,1964,1965,1966,1967], 
    "fedminwage" : [1.00,1.15,1.15,1.25,1.25,1.25,1.25,1.40]
}


df = pd.DataFrame(new_values)


# simply concatenate both dataframes 
hf = pd.concat([df, hf]).reset_index(drop = True) 



kf = pd.DataFrame({
    "year" : [int(2018), int(2019)],
    "fedminwage":[7.25,7.25]
})

hf = hf.append(kf).reset_index(drop = True) 
hf.head(60)

FileNotFoundError: [Errno 2] No such file or directory: './Downloads/fedminwage (2).dta'

In [3]:
for x in hf["fedminwage"]:
    hf["fedminwage"] = hf["fedminwage"].replace(x, round(x,2))

NameError: name 'hf' is not defined

In [79]:
hf.to_csv("Desktop/Fedminwage.csv")

In [80]:
hf

    year  fedminwage
0   1960        1.00
1   1961        1.15
2   1962        1.15
3   1963        1.25
4   1964        1.25
5   1965        1.25
6   1966        1.25
7   1967        1.40
8   1968        1.60
9   1969        1.60
10  1970        1.60
11  1971        1.60
12  1972        1.60
13  1973        1.60
14  1974        1.60
15  1975        1.60
16  1976        2.30
17  1977        2.30
18  1978        2.30
19  1979        2.90
20  1980        3.10
21  1981        3.35
22  1982        3.35
23  1983        3.35
24  1984        3.35
25  1985        3.35
26  1986        3.35
27  1987        3.35
28  1988        3.35
29  1989        3.35
30  1990        3.35
31  1991        3.80
32  1992        4.25
33  1993        4.25
34  1994        4.25
35  1995        4.25
36  1996        4.25
37  1997        4.75
38  1998        5.15
39  1999        5.15
40  2000        5.15
41  2001        5.15
42  2002        5.15
43  2003        5.15
44  2004        5.15
45  2005        5.15
46  2006        5.15
47  2007        5.15
48  2008        5.85
49  2009        6.55
50  2010        7.25
51  2011        7.25
52  2012        7.25
53  2013        7.25
54  2014        7.25
55  2015        7.25
56  2016        7.25
57  2017        7.25
58  2018        7.25
59  2019        7.25