In [6]:
import numpy as np
import pandas as pd

#after testing replace StringIO(temp) to filename
df = pd.read_csv("../input/cps_00054.csv")

In [7]:
# Sample Selection - HPV Sample C
# --------------------------------

df["YEAR"] = df["year".upper()] - 1 # survey questions ask about 'last year'

# Prime age
df = df[df["AGE"]>=25] # Drop if if age < 25
df = df[df["AGE"]<=60] # drop if age > 60

# Employed at firm
df = df[ (df['CLASSWLY'] == 22) ]  # drop self-employed, government workers
     
# Drop if missing values    
df = df.dropna(subset=["OCC90LY", "IND90LY", "AGE", 'CLASSWLY', 'RACE', 'INCWAGE', 'WKSWORK1', 'UHRSWORKLY', 'EDUC']) 
df = df[(df['OCC90LY'] != 991) & (df['OCC90LY'] != 999) & (df['OCC90LY'] != 995) ] # NIU, unemployed
df = df[df["INCWAGE"] < 99999998] # Topcoded income
df

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,...,OCC10LY,CLASSWLY,WKSWORK1,UHRSWORKLY,FULLPART,FIRMSIZE,INCWAGE,OINCBUS,OINCFARM,PAIDGH
1550064,1975,1,3,NaN,NaN,1.0,NaN,1729.13,1,NaN,...,7700.0,22.0,47.0,40.0,1.0,NaN,11000.0,NaN,NaN,NaN
1550066,1975,2,3,NaN,NaN,1.0,NaN,1516.90,1,NaN,...,7750.0,22.0,52.0,40.0,1.0,NaN,11600.0,NaN,NaN,NaN
1550067,1975,2,3,NaN,NaN,1.0,NaN,1516.90,2,NaN,...,4760.0,22.0,52.0,40.0,1.0,NaN,6609.0,NaN,NaN,NaN
1550071,1975,3,3,NaN,NaN,1.0,NaN,1282.68,2,NaN,...,8710.0,22.0,52.0,40.0,1.0,NaN,8608.0,NaN,NaN,NaN
1550076,1975,6,3,NaN,NaN,1.0,NaN,1443.26,1,NaN,...,7810.0,22.0,52.0,40.0,1.0,NaN,1400.0,NaN,NaN,NaN
1550077,1975,6,3,NaN,NaN,1.0,NaN,1443.26,2,NaN,...,5000.0,22.0,52.0,40.0,1.0,NaN,11500.0,NaN,NaN,NaN
1550082,1975,8,3,NaN,NaN,1.0,NaN,1584.00,1,NaN,...,8140.0,22.0,52.0,50.0,1.0,NaN,16000.0,NaN,NaN,NaN
1550083,1975,8,3,NaN,NaN,1.0,NaN,1584.00,2,NaN,...,4110.0,22.0,9.0,40.0,1.0,NaN,800.0,NaN,NaN,NaN
1550090,1975,9,3,NaN,NaN,1.0,NaN,1544.32,2,NaN,...,8800.0,22.0,52.0,38.0,1.0,NaN,5889.0,NaN,NaN,NaN
1550102,1975,13,3,NaN,NaN,1.0,NaN,1515.41,1,NaN,...,6220.0,22.0,39.0,40.0,1.0,NaN,9000.0,NaN,NaN,NaN
1550103,1975,13,3,NaN,NaN,1.0,NaN,1515.41,2,NaN,...,7700.0,22.0,21.0,33.0,2.0,NaN,2000.0,NaN,NaN,NaN
1550107,1975,14,3,NaN,NaN,1.0,NaN,1654.27,1,NaN,...,9130.0,22.0,52.0,60.0,1.0,NaN,17568.0,NaN,NaN,NaN
1550108,1975,14,3,NaN,NaN,1.0,NaN,1654.27,2,NaN,...,8460.0,22.0,25.0,35.0,1.0,NaN,2900.0,NaN,NaN,NaN
1550119,1975,18,3,NaN,NaN,1.0,NaN,1515.41,1,NaN,...,8740.0,22.0,52.0,50.0,1.0,NaN,17538.0,NaN,NaN,NaN
1550120,1975,18,3,NaN,NaN,1.0,NaN,1515.41,2,NaN,...,4920.0,22.0,52.0,25.0,2.0,NaN,5300.0,NaN,NaN,NaN
1550122,1975,19,3,NaN,NaN,1.0,NaN,1541.80,1,NaN,...,30.0,22.0,52.0,45.0,1.0,NaN,14000.0,NaN,NaN,NaN
1550134,1975,23,3,NaN,NaN,1.0,NaN,756.68,1,NaN,...,4740.0,22.0,52.0,40.0,1.0,NaN,10000.0,NaN,NaN,NaN
1550139,1975,24,3,NaN,NaN,1.0,NaN,1575.50,1,NaN,...,7810.0,22.0,52.0,40.0,1.0,NaN,9000.0,NaN,NaN,NaN
1550140,1975,24,3,NaN,NaN,1.0,NaN,1575.50,2,NaN,...,8320.0,22.0,42.0,35.0,1.0,NaN,3000.0,NaN,NaN,NaN
1550144,1975,26,3,NaN,NaN,1.0,NaN,1476.40,1,NaN,...,4740.0,22.0,52.0,40.0,1.0,NaN,10000.0,NaN,NaN,NaN
1550148,1975,27,3,NaN,NaN,1.0,NaN,1513.23,1,NaN,...,6230.0,22.0,52.0,40.0,1.0,NaN,22000.0,NaN,NaN,NaN
1550149,1975,27,3,NaN,NaN,1.0,NaN,1513.23,2,NaN,...,4720.0,22.0,52.0,21.0,2.0,NaN,2000.0,NaN,NaN,NaN
1550152,1975,27,3,NaN,NaN,1.0,NaN,1513.23,5,NaN,...,4510.0,22.0,52.0,36.0,1.0,NaN,3500.0,NaN,NaN,NaN
1550154,1975,28,3,NaN,NaN,1.0,NaN,1689.60,1,NaN,...,9750.0,22.0,52.0,40.0,1.0,NaN,14221.0,NaN,NaN,NaN
1550158,1975,29,3,NaN,NaN,1.0,NaN,1511.43,1,NaN,...,8140.0,22.0,52.0,40.0,1.0,NaN,11000.0,NaN,NaN,NaN
1550159,1975,29,3,NaN,NaN,1.0,NaN,1511.43,2,NaN,...,8320.0,22.0,52.0,40.0,1.0,NaN,7200.0,NaN,NaN,NaN
1550163,1975,30,3,NaN,NaN,1.0,NaN,1566.27,1,NaN,...,9130.0,22.0,52.0,50.0,1.0,NaN,13056.0,NaN,NaN,NaN
1550164,1975,30,3,NaN,NaN,1.0,NaN,1566.27,2,NaN,...,1010.0,22.0,52.0,40.0,1.0,NaN,15702.0,NaN,NaN,NaN
1550165,1975,31,3,NaN,NaN,1.0,NaN,1511.43,1,NaN,...,7750.0,22.0,26.0,40.0,1.0,NaN,9946.0,NaN,NaN,NaN
1550167,1975,32,3,NaN,NaN,1.0,NaN,1689.60,1,NaN,...,9750.0,22.0,10.0,40.0,1.0,NaN,2500.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10073065,2018,94584,3,NaN,0.0,1.0,NaN,318.77,1,NaN,...,4430.0,22.0,52.0,12.0,2.0,5.0,14000.0,0.0,0.0,22.0
10073068,2018,94585,3,NaN,0.0,1.0,NaN,634.09,2,NaN,...,7200.0,22.0,52.0,48.0,1.0,1.0,62000.0,0.0,0.0,22.0
10073071,2018,94586,3,NaN,0.0,1.0,NaN,427.09,1,NaN,...,6355.0,22.0,52.0,40.0,1.0,5.0,80000.0,0.0,0.0,22.0
10073078,2018,94589,3,NaN,0.0,1.0,NaN,548.48,1,NaN,...,9420.0,22.0,52.0,40.0,1.0,9.0,35000.0,0.0,0.0,21.0
10073081,2018,94590,3,NaN,0.0,1.0,NaN,371.23,3,NaN,...,4000.0,22.0,52.0,40.0,1.0,5.0,25000.0,0.0,0.0,0.0
10073085,2018,94592,3,NaN,0.0,1.0,NaN,710.35,2,NaN,...,4250.0,22.0,52.0,40.0,1.0,1.0,35543.0,0.0,0.0,22.0
10073086,2018,94592,3,NaN,0.0,1.0,NaN,710.35,3,NaN,...,5240.0,22.0,26.0,25.0,2.0,7.0,1000.0,0.0,0.0,0.0
10073089,2018,94593,3,NaN,0.0,1.0,NaN,557.05,1,NaN,...,3650.0,22.0,52.0,40.0,1.0,2.0,45000.0,0.0,0.0,0.0
10073090,2018,94593,3,NaN,0.0,1.0,NaN,557.05,2,NaN,...,9140.0,22.0,52.0,35.0,1.0,9.0,20000.0,0.0,0.0,21.0
10073099,2018,94598,3,NaN,0.0,1.0,NaN,554.80,1,NaN,...,1000.0,22.0,52.0,40.0,1.0,2.0,83000.0,0.0,0.0,22.0
10073102,2018,94601,3,NaN,0.0,1.0,NaN,446.56,1,NaN,...,4110.0,22.0,52.0,40.0,1.0,1.0,18000.0,0.0,0.0,0.0
10073103,2018,94601,3,NaN,0.0,1.0,NaN,446.56,2,NaN,...,4030.0,22.0,52.0,40.0,1.0,1.0,18000.0,0.0,0.0,22.0
10073104,2018,94602,3,NaN,0.0,1.0,NaN,372.45,1,NaN,...,9140.0,22.0,52.0,25.0,2.0,9.0,20000.0,0.0,0.0,0.0
10073117,2018,94608,3,NaN,0.0,1.0,NaN,550.80,1,NaN,...,9130.0,22.0,52.0,38.0,1.0,5.0,80000.0,0.0,0.0,21.0
10073138,2018,94615,3,NaN,0.0,1.0,NaN,356.95,1,NaN,...,5620.0,22.0,52.0,40.0,1.0,7.0,60000.0,0.0,0.0,21.0
10073139,2018,94615,3,NaN,0.0,1.0,NaN,356.95,2,NaN,...,5120.0,22.0,52.0,40.0,1.0,5.0,50000.0,0.0,0.0,21.0
10073140,2018,94616,3,NaN,0.0,1.0,NaN,396.50,1,NaN,...,800.0,22.0,52.0,45.0,1.0,8.0,75000.0,0.0,0.0,21.0
10073143,2018,94617,3,NaN,0.0,1.0,NaN,343.58,3,NaN,...,9620.0,22.0,52.0,40.0,1.0,1.0,32000.0,0.0,0.0,0.0
10073147,2018,94619,3,NaN,0.0,1.0,NaN,373.53,2,NaN,...,4140.0,22.0,8.0,20.0,2.0,9.0,600.0,0.0,0.0,0.0
10073150,2018,94621,3,NaN,0.0,1.0,NaN,400.13,1,NaN,...,5300.0,22.0,52.0,40.0,1.0,9.0,61000.0,0.0,0.0,21.0
10073156,2018,94623,3,NaN,0.0,1.0,NaN,353.60,2,NaN,...,4030.0,22.0,52.0,48.0,1.0,1.0,50000.0,0.0,0.0,0.0
10073157,2018,94623,3,NaN,0.0,1.0,NaN,353.60,3,NaN,...,4720.0,22.0,52.0,48.0,1.0,1.0,48000.0,0.0,0.0,10.0
10073164,2018,94626,3,NaN,0.0,1.0,NaN,409.88,1,NaN,...,4000.0,22.0,52.0,50.0,1.0,9.0,102000.0,0.0,0.0,22.0
10073165,2018,94626,3,NaN,0.0,1.0,NaN,409.88,2,NaN,...,430.0,22.0,52.0,50.0,1.0,8.0,85000.0,0.0,0.0,22.0
10073166,2018,94627,3,NaN,0.0,1.0,NaN,400.69,1,NaN,...,520.0,22.0,52.0,40.0,1.0,2.0,60000.0,0.0,0.0,22.0
10073175,2018,94631,3,NaN,0.0,1.0,NaN,515.55,1,NaN,...,4010.0,22.0,52.0,40.0,1.0,2.0,11000.0,0.0,0.0,0.0
10073180,2018,94631,3,NaN,0.0,1.0,NaN,515.55,6,NaN,...,4000.0,22.0,52.0,40.0,1.0,9.0,3000.0,0.0,0.0,0.0
10073183,2018,94632,3,NaN,0.0,1.0,NaN,391.67,3,NaN,...,4230.0,22.0,52.0,32.0,2.0,9.0,28000.0,0.0,0.0,21.0
10073184,2018,94632,3,NaN,0.0,1.0,NaN,391.67,4,NaN,...,4760.0,22.0,52.0,40.0,1.0,7.0,30000.0,0.0,0.0,0.0
10073187,2018,94633,3,NaN,0.0,1.0,NaN,448.29,1,NaN,...,4720.0,22.0,52.0,40.0,1.0,1.0,15000.0,0.0,0.0,0.0

In [8]:
# Variables
# --------------------------------

# Sex
df["FEMALE"] = df["SEX"].replace(1, 0)
df["FEMALE"] = df["FEMALE"].replace(2, 1)
df["MALE"] = df["SEX"].replace(2  , 0)

# Big firm has 1000+ employees (=9, 500-999 = 8)
df["big_firm"]  = df["firmsize".upper()]
for x in range(9):
    df["big_firm"] = df["big_firm"].replace(x,0)

df["big_firm"] = df["big_firm"].replace(9,1)
df['big_firm'].fillna(0, inplace =True)

# Race 
for x in df["RACE"].unique():
    if x == 100:
        df["RACE"] = df["RACE"].replace(x,1)
    else:
        df["RACE"] = df["RACE"].replace(x,0)
        
        
# Occupation
df['2digit occupation'] = pd.cut(x=df['OCC90LY'], bins=[0, 43, 203, 213, 290, 303, 405, 415, 434, 473, 479, 503, 558, 703, 803, 823, 905], labels=[3, 43, 203, 213, 290, 303, 405, 415, 434, 473, 479, 503, 558, 703, 803, 823], right=False)
df["1digit occupation"] = pd.cut(x=df["OCC90LY"], bins=[0, 200, 400, 470, 500, 700, 900,998], labels=[2,3,4,5,1,7,6])

# Industry
df["1digit industry"]   = pd.cut(x=df["IND90LY"], bins=[0,200,391, 473, 498, 890,1000], labels=[2,3,4,5,1,6])

# Education 
kf = pd.read_stata("../input/educ_years_school.dta")

if "years_school" in df:
    df = df.drop(columns=["years_school"])
    
educ_df = kf.rename(columns={"educ":"EDUC"})
df = pd.merge(df, educ_df, on='EDUC', how='right') # merge in years of schooling
df = df.rename(columns={"years_school_y":"years_school"})

# Experience
df["exp"]  = (df["AGE"] - np.maximum(df["years_school"], 12)) - 6
df["exp2"] = (df["exp"] ** 2 )
df = df[df["exp"] >= 0] 

# Hours
df["annual_hours"] = df["WKSWORK1"] * df["UHRSWORKLY"] 
df["annual_hours"] = df[df["annual_hours"]>=260] # drop if worked less than a month of 8hr days

# Drop if report income, but no hours.
indexNames = df[(df['INCWAGE'] > 0) & (df['annual_hours'] == 0)].index
df.drop(indexNames , inplace=True)


# Earnings
df['inc_self'] = 0 # df['OINCBUS'] + df['OINCFARM']    
df['earnings'] = (2/3) * df['inc_self'] + df['INCWAGE'] # 2/3 business income + labor income

In [9]:
# Adjust for inflation
# --------------------------------

df = df.rename(columns={"YEAR":"year"})

#Merge in cpi data
cpi_df = pd.read_csv("../output/revised_CPI.csv") 
df     = pd.merge(df, cpi_df, on='year', how='right')

# Merge in fedminwage data
fedminwage_df = pd.read_csv("../input/fedminwage.csv") 
df = pd.merge(df, fedminwage_df, on='year', how='right') # real_cpis is cpi / cpi[2000]

# Normalize to 2000-dollars
df["earnings"]   = df["earnings"] / df["real_cpis"]
df["fedminwage"] = df["fedminwage"] / df["real_cpis"]

# Compute implied hourly wage
df["Wage"] = df["earnings"] / df["annual_hours"]

# Drop if wage is less than 1/2 fedminwage
df = df.query("fedminwage * .5 <= Wage")# same thing: df[(df['Wage'] > df["fedminwage"])]

In [11]:
# Clean up
# --------------------------------
df = df.rename(columns={'occ90ly'.upper(): "3digit occupation", "RACE":"White"})

k = {}
for x in df.columns:
    k[x] = x.capitalize()
df = df.rename(columns=k)
columnsTitles = ['Year', '3digit occupation', '2digit occupation', '1digit occupation', 'Age', 'Asecwt', 'Exp','Male', 'Female','White', 'Exp2','1digit industry', 'Big_firm', "Wage"]
df = df.reindex(columns=columnsTitles)
df = df.reset_index(drop=True)

df[df.columns[:-1]] = df[df.columns[:-1]].astype('int64')
df[["Wage"]] = df["Wage"].astype('float64')
df["Wage"]   = df["Wage"].round(2)

# Save
df.to_csv("../output/current_values2.0.csv")

In [6]:
df.head()

,Year,3digit occupation,2digit occupation,1digit occupation,Age,Asecwth,Exp,Male,Female,White,Exp2,1digit industry,Big_firm,Wage
0,1975,628,558,1,60,1729,42,1,0,1,1764,3,0,18.04
1,1975,785,703,7,45,1516,27,1,0,1,729,3,0,19.02
2,1975,453,434,4,27,1524,9,1,0,1,81,1,0,18.04
3,1975,796,703,7,49,1099,31,0,1,0,961,2,0,6.56
4,1975,779,703,7,49,1558,31,0,1,0,961,3,0,11.50