In [2]:
import pandas as pd

In [3]:
df = pd.read_stata("~/Dropbox/thesis/4_CPS/clean_HPV/input/cps_00050.dta")

#replace year = year - 1
# Drop if if age < 25
# drop if age > 65
# drop if self employed or work for the government using 'classwly'
# drop if missing ind90ly drop if missing occ90ly


# Wages
#earnings = incwage
#annual_hours = 'wkswork1' * 'uhrsworkly' # weeks worked per year x hours per week

# Merge in fedminwage data
#fedminwage = pd.read_state('./fedminwage.dta')
#df = left_join(df, fedminwage, by=year)

#1. Drop if below that years minimum wage. (you already have this, merge )

# Merge in cpi data
#fedminwage = pd.read_state('./fedminwage.dta')
#df = left_join(df, fedminwage, by=year)

#2. Divide earnings by cpi_t_adjusted_to_2000

In [9]:
df.info()
df['big_firm'] = (df['firmsize'] == "1000+") # or df['firmsize'] == 9 see: https://cps.ipums.org/cps-action/variables/firmsize#codes_section

df['firmsize'].value_counts()
df['big_firm'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11580516 entries, 0 to 11580515
Data columns (total 32 columns):
 #   Column      Dtype
---  ------      -----
 0   year        int16
 1   serial      int32
 2   month       category
 3   hwtfinl     float64
 4   cpsid       float64
 5   asecflag    category
 6   hflag       category
 7   asecwth     float64
 8   pernum      int8
 9   wtfinl      float64
 10  cpsidp      float64
 11  asecwt      float64
 12  relate      category
 13  age         category
 14  sex         category
 15  race        category
 16  marst       category
 17  educ        category
 18  occly       float64
 19  occ90ly     category
 20  ind90ly     category
 21  occ10ly     category
 22  classwly    category
 23  wkswork1    float64
 24  uhrsworkly  float64
 25  fullpart    category
 26  firmsize    category
 27  incwage     float64
 28  oincbus     float64
 29  oincfarm    float64
 30  paidgh      category
 31  big_firm    bool
dtypes: bool(1), category(16), float64(12), int16(1), int32(1), int8(1)
memory usage: 1.4 GB

False    10452204
True      1128312
Name: big_firm, dtype: int64

In [3]:
# if sex is female, replace with 0. if sex is male, replace with 1.
df["sex"] = df["sex"].replace("female", 0)
df["sex"] = df["sex"].replace("male"  , 1)
df["sex"].value_counts()

0    5978222
1    5602294
Name: sex, dtype: int64

In [10]:
# AW: Here we recode firmsize to be an indicator if firmsize >= 500

#first I replace firmsize "niu" with 0 (assumed that meant there was no firm)
#
#next, since 0 was a category already, I could fill the nan in firm size with 0
#df["firmsize"] = df["firmsize"].cat.add_categories(0)
#df['firmsize'].fillna(0, inplace =True)
df["firmsize"] = df["firmsize"].replace("niu", 0)
for x in df["firmsize"].unique():
    if type(x) == str:
        #I stripped the values if they were a string because some of them were "100+" and took the first value
        k = x.strip("+").split()[-1]
    else:
        k = x 
    if type(k) is str: 
        if int(k)>=500:
            #if firmsize(k) is greater or equal to 1000, replace with 1
            df["firmsize"] = df["firmsize"].replace(x, 1)
        else:
            #if firmsize is smaller than 500, replaced firmsize with 0
            df["firmsize"] = df["firmsize"].replace(x, 0)
df['firmsize'].fillna(0, inplace =True)
df["firmsize"].value_counts()

0    10295919
1     1284597
Name: firmsize, dtype: int64

In [11]:
# if race is white, replace with 1. if race is not white, replace with 0.
for x in df["race"].unique():
    if x == "white":
        df["race"] = df["race"].replace(x,1)
    else:
        df["race"] = df["race"].replace(x,0)

In [12]:
df['occ90ly'].value_counts()

unknown                                               4336038
managers and administrators, n.e.c                     247137
salespersons, n.e.c                                    137291
secretaries                                            123135
truck, delivery, and tractor drivers                   121436
                                                       ...
shaping and joining machine operator (woodworking)         86
home economics instructors                                 74
sociologists                                               67
marine life cultivation workers                            34
other precision woodworkers                                32
Name: occ90ly, Length: 388, dtype: int64

In [13]:
# these are the codes for occ1990. 
#For ex. if it is legistlatures, three digits will give you 3.
three_digits = {"legislators" : "3", 
                "chief executives and public administrators" : "4", 
                "financial managers" : "7", 
                "human resources and labor relations managers" : "8", 
                "managers and specialists in marketing, advertising, and public relations" : "13", 
                "managers in education and related fields" : "14", 
                "managers of medicine and health occupations" : "15", 
                "postmasters and mail superintendents" : "16", 
                "managers of food- serving and lodging establishments" : "17", 
                "managers of properties and real estate" : "18", 
                "funeral directors" : "19", 
                "managers of service organizations" : "21", 
                "managers and administrators" : "22", "accountants and auditors" : "23", 
                "insurance underwriters" : "24", 
                "other financial specialists" : "25", 
                "management analysts" : "26", 
                "personnel, hr, training, and labor relations specialists" : "27", 
                "purchasing agents and buyers, of farm products" : "28", 
                "buyers, wholesale and retail trade" : "29", 
                "purchasing managers, agents and buyers, n.e.c." : "33", 
                "business and promotion agents" : "34", 
                "construction inspectors" : "35", 
                "inspectors and compliance officers, outside construction" : "36", "management support occupations" : "37", "architects" : "43", "aerospace engineer" : "44", "metallurgical and materials engineers, variously phrased" : "45", "petroleum, mining, and geological engineers" : "47", "chemical engineers" : "48", "civil engineers" : "53", "electrical engineer" : "55", "industrial engineers" : "56", "mechanical engineers" : "57", "not-elsewhereclassified engineers" : "59", "computer systems analysts and computer scientists" : "64", "operations and systems researchers and analysts" : "65", "actuaries" : "66", "statisticians" : "67", "mathematicians and mathematical scientists" : "68", "physicists and astronomers" : "69", "chemists" : "73", "atmospheric and space scientists" : "74", "geologists" : "75", "physical scientists, n.e.c." : "76", "agricultural and food scientists" : "77", "biological scientists" : "78", "foresters and conservation scientists" : "79", "medical scientists" : "83", "physicians" : "84", "dentists" : "85", "veterinarians" : "86", "optometrists" : "87", "podiatrists" : "88", "other health and therapy" : "89", "registered nurses" : "95", "pharmacists" : "96", "dietitians and nutritionists" : "97", "respiratory therapists" : "98", "occupational therapists" : "99", "physical therapists" : "103", "speech therapists" : "104", "therapists, n.e.c." : "105", "physicians' assistants" : "106", "earth, environmental, and marine science instructors" : "113", "biological science instructors" : "114", "chemistry instructors" : "115", "physics instructors" : "116", "psychology instructors" : "118", "economics instructors" : "119", "history instructors" : "123", "sociology instructors" : "125", "engineering instructors" : "127", "math instructors" : "128", "education instructors" : "139", "law instructors" : "145", "theology instructors" : "147", "home economics instructors" : "149", "humanities profs/instructors, college, nec" : "150", "subject instructors (hs/college)" : "154", "kindergarten and earlier school teachers" : "155", "primary school teachers" : "156", "secondary school teachers" : "157", "special education teachers" : "158", "teachers , n.e.c." : "159", "vocational and educational counselors" : "163", "librarians" : "164", "archivists and curators" : "165", "economists, market researchers, and survey researchers" : "166", "psychologists" : "167", "sociologists" : "168", "social scientists, n.e.c." : "169", "urban and regional planners" : "173", "social workers" : "174", "recreation workers" : "175", "clergy and religious workers" : "176", "lawyers" : "178", "judges" : "179", "writers and authors" : "183", "technical writers" : "184", "designers" : "185", "musician or composer" : "186", "actors, directors, producers" : "187", "art makers; painters, sculptors, craft artists, and printmakers" : "188", "photographers" : "189", "dancers" : "193", "art/entertainment performers and related" : "194", "editors and reporters" : "195", "announcers" : "198", "athletes, sports instructors, and officials" : "199", "professionals, n.e.c." : "200", "clinical laboratory technologies and technicians" : "203", "dental hygenists" : "204", "health record tech specialists" : "205", "radiologic tech specialists" : "206", "licensed practical nurses" : "207", "health technologists and technicians, n.e.c." : "208", "electrical and electronic (engineering) technicians" : "213", "engineering technicians, n.e.c." : "214", "mechanical engineering technicians" : "215", "drafters" : "217", "surveyors, cartographers, mapping scientists and technicians" : "218", "biological technicians" : "223", "chemical technicians" : "224", "other science technicians" : "225", "airplane pilots and navigators" : "226", "air traffic controllers" : "227", "broadcast equipment operators" : "228", "computer software developers" : "229", "programmers of numerically controlled machine tools" : "233", "legal assistants, paralegals, legal support, etc" : "234", "technicians, n.e.c." : "235", "supervisors and proprietors of sales jobs" : "243", "insurance sales occupations" : "253", "real estate sales occupations" : "254", "financial services sales occupations" : "255", "advertising and related sales jobs" : "256", "sales engineers" : "258", "salespersons, n.e.c." : "274", "retail sales clerks" : "275", "cashiers" : "276", "door-to-door sales, street sales, and news vendors" : "277", "sales demonstrators / promoters / models" : "283", "sales workers" : "290", "office supervisors" : "303", "computer and peripheral equipment operators" : "308", "secretaries" : "313", "stenographers" : "314", "typists" : "315", "interviewers, enumerators, and surveyors" : "316", "hotel clerks" : "317", "transportation ticket and reservation agents" : "318", "receptionists" : "319", "information clerks, nec" : "323", "correspondence and order clerks" : "326", "human resources clerks, except payroll and timekeeping" : "328", "library assistants" : "329", "file clerks" : "335", "records clerks" : "336", "bookkeepers and accounting and auditing clerks" : "337", "payroll and timekeeping clerks" : "338", "cost and rate clerks (financial records processing)" : "343", "billing clerks and related financial records processing" : "344", "duplication machine operators / office machine operators" : "345", "mail and paper handlers" : "346", "office machine operators, n.e.c." : "347", "telephone operators" : "348", "other telecom operators" : "349", "postal clerks, excluding mail carriers" : "354", "mail carriers for postal service" : "355", "mail clerks, outside of post office" : "356", "messengers" : "357", "dispatchers" : "359", "inspectors, n.e.c." : "361", "shipping and receiving clerks" : "364", "stock and inventory clerks" : "365", "meter readers" : "366", "weighers, measurers, and checkers" : "368", "material recording, scheduling, production, planning, and expediting clerks" : "373", "insurance adjusters, examiners, and investigators" : "375", "customer service reps, investigators and adjusters, except insurance" : "376", "eligibility clerks for government programs; social welfare" : "377", "bill and account collectors" : "378", "general office clerks" : "379", "bank tellers" : "383", "proofreaders" : "384", "data entry keyers" : "385", "statistical clerks" : "386", "teacher's aides" : "387", "administrative support jobs, n.e.c." : "389", "professional, technical, and kindred workers" : "390", "clerical and kindred workers" : "391", "housekeepers, maids, butlers, stewards, and lodging quarters cleaners" : "405", "private household cleaners and servants" : "407", "private household workers" : "408", "supervisors of guards" : "415", "fire fighting, prevention, and inspection" : "417", "police, detectives, and private investigators" : "418", "other law enforcement; sheriffs, bailiffs, correctional institution officers" : "423", "crossing guards and bridge tenders" : "425", "guards, watchmen, doorkeepers" : "426", "protective services, n.e.c." : "427", "bartenders" : "434", "waiter/waitress" : "435", "cooks, variously defined" : "436", "food counter and fountain workers" : "438", "kitchen workers" : "439", "waiter's assistant" : "443", "misc food prep workers" : "444", "dental assistants" : "445", "health aides, except nursing" : "446", "nursing aides, orderlies, and attendants" : "447", "supervisors of cleaning and building service" : "448", "janitors" : "453", "elevator operators" : "454", "pest control occupations" : "455", "supervisors of personal service jobs, n.e.c." : "456", "barbers" : "457", "hairdressers and cosmetologists" : "458", "recreation facility attendants" : "459", "guides" : "461", "ushers" : "462", "public transportation attendants and inspectors" : "463", "baggage porters" : "464", "welfare service aides" : "465", "child care workers" : "468", "personal service occupations, nec" : "469", "farmers (owners and tenants)" : "473", "horticultural specialty farmers" : "474", "farm managers, except for horticultural farms" : "475", "managers of horticultural specialty farms" : "476", "farm workers" : "479", "farm laborers and farm foreman" : "480", "marine life cultivation workers" : "483", "nursery farming workers" : "484", "supervisors of agricultural occupations" : "485", "gardeners and groundskeepers" : "486", "animal caretakers except on farms" : "487", "graders and sorters of agricultural products" : "488", "inspectors of agricultural products" : "489", "timber, logging, and forestry workers" : "496", "fishers, hunters, and kindred" : "498", "supervisors of mechanics and repairers" : "503", "automobile mechanics" : "505", "bus, truck, and stationary engine mechanics" : "507", "aircraft mechanics" : "508", "small engine repairers" : "509", "auto body repairers" : "514", "heavy equipment and farm equipment mechanics" : "516", "industrial machinery repairers" : "518", "machinery maintenance occupations" : "519", "repairers of industrial electrical equipment" : "523", "repairers of data processing equipment" : "525", "repairers of household appliances and power tools" : "526", "telecom and line installers and repairers" : "527", "repairers of electrical equipment, n.e.c." : "533", "heating, air conditioning, and refigeration mechanics" : "534", "precision makers, repairers, and smiths" : "535", "locksmiths and safe repairers" : "536", "office machine repairers and mechanics" : "538", "repairers of mechanical controls and valves" : "539", "elevator installers and repairers" : "543", "millwrights" : "544", "mechanics and repairers, n.e.c." : "549", "supervisors of construction work" : "558", "masons, tilers, and carpet installers" : "563", "carpenters" : "567", "drywall installers" : "573", "electricians" : "575", "electric power installers and repairers" : "577", "painters, construction and maintenance" : "579", "paperhangers" : "583", "plasterers" : "584", "plumbers, pipe fitters, and steamfitters" : "585", "concrete and cement workers" : "588", "glaziers" : "589", "insulation workers" : "593", "paving, surfacing, and tamping equipment operators" : "594", "roofers and slaters" : "595", "sheet metal duct installers" : "596", "structural metal workers" : "597", "drillers of earth" : "598", "construction trades, n.e.c." : "599", "drillers of oil wells" : "614", "explosives workers" : "615", "miners" : "616", "other mining occupations" : "617", "production supervisors or foremen" : "628", "tool and die makers and die setters" : "634", "machinists" : "637", "boilermakers" : "643", "precision grinders and filers" : "644", "patternmakers and model makers" : "645", "lay-out workers" : "646", "engravers" : "649", "tinsmiths, coppersmiths, and sheet metal workers" : "653", "cabinetmakers and bench carpenters" : "657", "furniture and wood finishers" : "658", "other precision woodworkers" : "659", "dressmakers and seamstresses" : "666", "tailors" : "667", "upholsterers" : "668", "shoe repairers" : "669", "other precision apparel and fabric workers" : "674", "hand molders and shapers, except jewelers" : "675", "optical goods workers" : "677", "dental laboratory and medical appliance technicians" : "678", "bookbinders" : "679", "other precision and craft workers" : "684", "butchers and meat cutters" : "686", "bakers" : "687", "batch food makers" : "688", "adjusters and calibrators" : "693", "water and sewage treatment plant operators" : "694", "power plant operators" : "695", "plant and system operators, stationary engineers" : "696", "other plant and system operators" : "699", "lathe, milling, and turning machine operatives" : "703", "punching and stamping press operatives" : "706", "rollers, roll hands, and finishers of metal" : "707", "drilling and boring machine operators" : "708", "grinding, abrading, buffing, and polishing workers" : "709", "forge and hammer operators" : "713", "fabricating machine operators, n.e.c." : "717", "molders, and casting machine operators" : "719", "metal platers" : "723", "heat treating equipment operators" : "724", "wood lathe, routing, and planing machine operators" : "726", "sawing machine operators and sawyers" : "727", "shaping and joining machine operator (woodworking)" : "728", "nail and tacking machine operators (woodworking)" : "729", "other woodworking machine operators" : "733", "printing machine operators, n.e.c." : "734", "photoengravers and lithographers" : "735", "typesetters and compositors" : "736", "winding and twisting textile/apparel operatives" : "738", "knitters, loopers, and toppers textile operatives" : "739", "textile cutting machine operators" : "743", "textile sewing machine operators" : "744", "shoemaking machine operators" : "745", "pressing machine operators (clothing)" : "747", "laundry workers" : "748", "misc textile machine operators" : "749", "cementing and gluing maching operators" : "753", "packers, fillers, and wrappers" : "754", "extruding and forming machine operators" : "755", "mixing and blending machine operatives" : "756", "separating, filtering, and clarifying machine operators" : "757", "painting machine operators" : "759", "roasting and baking machine operators (food)" : "763", "washing, cleaning, and pickling machine operators" : "764", "paper folding machine operators" : "765", "furnace, kiln, and oven operators, apart from food" : "766", "crushing and grinding machine operators" : "768", "slicing and cutting machine operators" : "769", "motion picture projectionists" : "773", "photographic process workers" : "774", "machine operators," : "779", "welders and metal cutters" : "783", "solderers" : "784", "assemblers of electrical equipment" : "785", "hand painting, coating, and decorating occupations" : "789", "production checkers and inspectors" : "796", "graders and sorters in manufacturing" : "799", "supervisors of motor vehicle transportation" : "803", "truck, delivery, and tractor drivers" : "804", "bus drivers" : "808", "taxi cab drivers and chauffeurs" : "809", "parking lot attendants" : "813", "transport equipment operatives" : "815", "railroad conductors and yardmasters" : "823", "locomotive operators (engineers and firemen)" : "824", "railroad brake, coupler, and switch operators" : "825", "ship crews and marine engineers" : "829", "water transport infrastructure tenders and crossing guards" : "834", "operating engineers of construction equipment" : "844", "crane, derrick, winch, and hoist operators" : "848", "excavating and loading machine operators" : "853", "misc material moving occupations" : "859", "helpers, constructions" : "865", "helpers, surveyors" : "866", "construction laborers" : "869", "production helpers" : "874", "garbage and recyclable material collectors" : "875", "materials movers; stevedores and longshore workers" : "876", "stock handlers" : "877", "machine feeders and offbearers" : "878", "freight, stock, and materials handlers" : "883", "garage and service station related occupations" : "885", "vehicle washers and equipment cleaners" : "887", "packers and packagers by hand" : "888", "laborers outside construction" : "889", "laborers, except farm" : "890", "military" : "905", "unemployed" : "991"}

# For one and two digits, I used the code for the occupation to find which range it was 
# in and therefore which two/three digit category
# AW: Notice that [3,23) = 3 is in Executive and 23 is not
                # Redo this
two_digits = {'3/23' : 'Executive, Administrative, and Managerial Occupations', 
              '23/43' : 'Management Related Occupations', 
              '43/44' : 'Professional Specialty Occupations Engineers, Architechts, and Surveyors', 
              '44/64' : 'Engineers', 
              '64/69' : 'Mathematical and Computer Scientists', 
              '69/84' : 'Natural Scientists', 
              '84/95' : 'Health Diagnosing Occupations', 
              '95/98' : 'Health Assessment and Treating Occupations',
              '98/113' : 'Therapists', 
              '113/155' : 'Teachers, Postsecondary', 
              '155/164' : 'Teachers, Except Postsecondary', 
              '164/166' : 'Librarians, Archivists, and Curators', 
              '166/174' : 'Social Scientists and Urban Planners', 
              '174/178' : 'Social, Recreation, and Religious Workers', 
              '178/183' : 'Lawyers and Judges', 
              '183/203' : 'Writers, Artists, Entertainers, and Athletes', 
              '203/213' : 'Technicians and Related Support Occupations Health Technologists and Technicians', 
              '213/224' : 'Technologists and Technicians, Except Health Engineering and Related Technologists and Technicians', 
              '224/226' : 'Science Technicians', 
              '226/243' : 'Technicians, Except Health, Engineering, and Science', 
              '243/253' : 'Sales Occupations', 
              '253/258' : 'Sales Representatives, Finance and Business Services', 
               '258/283' : 'Sales Representatives,Commodities', 
               '283/303' : 'Sales Related Occupations', 
               '303/308' : 'Administrative Support Occupations,Including Clerical Supervisors, Administrative Support Occupations',
               '308/313' : 'Computer Equipment Operators', 
               '313/316' : 'Secretaries, Stenographers, and Typists', 
               '316/326' : 'Information Clerks', '326/337' : 'Records Processing Occupations, Except Financial', '337/345' : 'Financial Records Processing Occupations', '345/348' : 'Duplicating, Mail, and Other Office Machine Operators', '348/354' : 'Communications Equipment Operators', '354/359' : 'Mail and Message Distributing Occupations', '359/375' : 'Material Recording, Scheduling, and Distributing Clerks', '375/379' : 'Adjusters and Investigators', '379/405' : 'Miscellaneous Administrative Support Occupations', '405/415' : 'Private Household Occupations', '415/417' : 'Protective Service Occupations Supervisors, Protective Service Occupations', '417/418' : 'Firefighting and Fire Prevention Occupations', '418/425' : 'Police and Detectives', '425/434' : 'Guards', '434/445' : 'Service Occupations, Except Protective and Household Food Preparation and Serivce Occupations', '445/448' : 'Health Service Occupations', '448/456' : 'Cleaning and Building Service Occupations, Except Households', '456/473' : 'Personal Service Occupations', '473/479' : 'Farm Operators and Managers', '479/485' : 'Other Agricultural and Related Occupations: Farm Occupations, Except Managerial', '485/496' : 'Related Agricultural Occupations', '496/498' : 'Forestry and Logging Occupations', '498/503' : 'Fishers, Hunters, and Trappers', '503/505' : 'Mechanics and Repairers', '505/523' : 'Mechanics and Repairers, Except Supervisors Vehicle and Mobile Equipment Mechanics and Repairers', '523/535' : 'Electrical and Electronic Equipment Repairers', '535/558' : 'Miscellaneous Mechanics and Repairers', '558/563' : 'Construction Trades Supervisors, Construction Occupations', '563/614' : 'Construction Trades, Except Supervisors', '614/628' : 'Extractive Occupations', '628/634' : 'Precision Production Occupations', '634/657' : 'Precision Metal Working Occupations', '657/666' : 'Precision Woodworking Occupations', '666/675' : 'Precision Textile, Apparel, and Furnishings Machine Workers', '675/686' : 'Precision Workers, Assorted Materials', '686/693' : 'Precision Food Production Occupations', '693/694' : 'Precision Inspectors, Testers, and Related Workers', '694/703' : 'Plant and System Operators', '703/719' : 'Machine Operators, Assemblers, and Inspectors Machine Operators and Tenders, Except Precision Metal Working and Plastic Working Machine Operators', '719/726' : 'Metal and Plastic Processing Machine Operators', '726/734' : 'Woodworking Machine Operators', '734/738' : 'Printing Machine Operators', '738/753' : 'Textile, Apparel, and Furnishings Machine Operators', '753/783' : 'Machine Operators, Assorted Materials', '783/796' : 'Fabricators, Assemblers, and Hand Working Occupations', '796/803' : 'Production Inspectors, Testers, Samplers, and Weighers', '803/823' : 'Transportation and Material Moving Occupations Motor Vehicle Operators', '823/829' : 'Transportation Occupations, Except Motor Vehicles Rail Transportation Occupations', '829/844' : 'Water Transportation Occupations', '844/865' : 'Material Moving Equipment Operators', '865/875' : 'Helpers, Construction and Extractive Occupations', '875/890' : 'Freight, Stock, and Material Handlers', '905/991': "Military", 
               '991/1000' : "Unemployed"}

                # this looks great
one_digits = {'0/200' : 'MANAGERIAL AND PROFESSIONAL SPECIALTY OCCUPATIONS', 
              '200/391' : 'TECHNICAL, SALES, AND ADMINISTRATIVE SUPPORT OCCUPATIONS', 
              '391/469' : 'SERVICE OCCUPATIONS', 
              '469/498' : 'FARMING, FORESTRY, AND FISHING OCCUPATIONS', 
              '498/699' : 'PRECISION PRODUCTION,CRAFT, AND REPAIR OCCUPATIONS', 
              '699/890' : 'OPERATORS, FABRICATORS, AND LABORERS', 
              '890/905' : 'MILITARY OCCUPATIONS', 
              '905/999': 'EXPERIENCED UNEMPLOYED NOT CLASSIFIED BY OCCUPATION'}

ind_three_digits = {"agricultural production, crops" : "10", 
                    "agricultural production, livestock" : "11", "veterinary services" : "12", "landscape and horticultural services" : "20", "agricultural services, n.e.c." : "30", "forestry" : "31", "fishing, hunting, and trapping" : "32", "metal mining" : "40", "coal mining" : "41", "oil and gas extraction" : "42", "nonmetallic mining and quarrying, except fuels" : "50", "all construction" : "60", "meat products" : "100", "dairy products" : "101", "canned, frozen, and preserved fruits and vegetables" : "102", "grain mill products" : "110", "bakery products" : "111", "sugar and confectionery products" : "112", "beverage industries" : "120", "misc. food preparations and kindred products" : "121", "food industries, n.s." : "122", "tobacco manufactures" : "130", "knitting mills" : "132", "dyeing and finishing textiles, except wool and knit goods" : "140", "carpets and rugs" : "141", "yarn, thread, and fabric mills" : "142", "miscellaneous textile mill products" : "150", "apparel and accessories, except knit" : "151", "miscellaneous fabricated textile products" : "152", "pulp, paper, and paperboard mills" : "160", "miscellaneous paper and pulp products" : "161", "paperboard containers and boxes" : "162", "newspaper publishing and printing" : "171", "printing, publishing, and allied industries, except newspapers" : "172", "plastics, synthetics, and resins" : "180", "drugs" : "181", "soaps and cosmetics" : "182", "paints, varnishes, and related products" : "190", "agricultural chemicals" : "191", "industrial and miscellaneous chemicals" : "192", "petroleum refining" : "200", "miscellaneous petroleum and coal products" : "201", "tires and inner tubes" : "210", "other rubber products, and plastics footwear and belting" : "211", "miscellaneous plastics products" : "212", "leather tanning and finishing" : "220", "footwear, except rubber and plastic" : "221", "leather products, except footwear" : "222", "manufacturing, non-durable - allocated" : "229", "logging" : "230", "sawmills, planing mills, and millwork" : "231", "wood buildings and mobile homes" : "232", "miscellaneous wood products" : "241", "furniture and fixtures" : "242", "glass and glass products" : "250", "cement, concrete, gypsum, and plaster products" : "251", "structural clay products" : "252", "pottery and related products" : "261", "misc. nonmetallic mineral and stone products" : "262", "blast furnaces, steelworks, rolling and finishing mills" : "270", "iron and steel foundries" : "271", "primary aluminum industries" : "272", "other primary metal industries" : "280", "cutlery, handtools, and general hardware" : "281", "fabricated structural metal products" : "282", "screw machine products" : "290", "metal forgings and stampings" : "291", "ordnance" : "292", "miscellaneous fabricated metal products" : "300", "metal industries, n.s." : "301", "engines and turbines" : "310", "farm machinery and equipment" : "311", "construction and material handling machines" : "312", "metalworking machinery" : "320", "office and accounting machines" : "321", "computers and related equipment" : "322", "machinery, except electrical, n.e.c." : "331", "machinery, n.s." : "332", "household appliances" : "340", "radio, tv, and communication equipment" : "341", "electrical machinery, equipment, and supplies, n.e.c." : "342", "electrical machinery, equipment, and supplies, n.s." : "350", "motor vehicles and motor vehicle equipment" : "351", "aircraft and parts" : "352", "ship and boat building and repairing" : "360", "railroad locomotives and equipment" : "361", "guided missiles, space vehicles, and parts" : "362", "cycles and miscellaneous transportation equipment" : "370", "scientific and controlling instruments" : "371", "medical, dental, and optical instruments and supplies" : "372", "photographic equipment and supplies" : "380", "watches, clocks, and clockwork operated devices" : "381", "toys, amusement, and sporting goods" : "390", "miscellaneous manufacturing industries" : "391", "manufacturing industries, n.s." : "392", "railroads" : "400", "bus service and urban transit" : "401", "taxicab service" : "402", "trucking service" : "410", "warehousing and storage" : "411", "u.s. postal service" : "412", "water transportation" : "420", "air transportation" : "421", "pipe lines, except natural gas" : "422", "services incidental to transportation" : "432", "radio and television broadcasting and cable" : "440", "wired communications" : "441", "telegraph and miscellaneous communications services" : "442", "electric light and power" : "450", "gas and steam supply systems" : "451", "electric and gas, and other combinations" : "452", "water supply and irrigation" : "470", "sanitary services" : "471", "utilities, n.s." : "472", "motor vehicles and equipment" : "500", "furniture and home furnishings" : "501", "lumber and construction materials" : "502", "professional and commercial equipment and supplies" : "510", "metals and minerals, except petroleum" : "511", "electrical goods" : "512", "hardware, plumbing and heating supplies" : "521", "machinery, equipment, and supplies" : "530", "scrap and waste materials" : "531", "miscellaneous wholesale, durable goods" : "532", "paper and paper products" : "540", "drugs, chemicals, and allied products" : "541", "apparel, fabrics, and notions" : "542", "groceries and related products" : "550", "farm-product raw materials" : "551", "petroleum products" : "552", "alcoholic beverages" : "560", "farm supplies" : "561", "miscellaneous wholesale, nondurable goods" : "562", "wholesale trade, n.s." : "571", "lumber and building material retailing" : "580", "hardware stores" : "581", "retail nurseries and garden stores" : "582", "mobile home dealers" : "590", "department stores" : "591", "variety stores" : "592", "miscellaneous general merchandise stores" : "600", "grocery stores" : "601", "dairy products stores" : "602", "retail bakeries" : "610", "food stores, n.e.c." : "611", "motor vehicle dealers" : "612", "auto and home supply stores" : "620", "gasoline service stations" : "621", "miscellaneous vehicle dealers" : "622", "apparel and accessory stores, except shoe" : "623", "shoe stores" : "630", "furniture and home furnishings stores" : "631", "household appliance stores" : "632", "radio, tv, and computer stores" : "633", "music stores" : "640", "eating and drinking places" : "641", "drug stores" : "642", "liquor stores" : "650", "sporting goods, bicycles, and hobby stores" : "651", "book and stationery stores" : "652", "jewelry stores" : "660", "gift, novelty, and souvenir shops" : "661", "sewing, needlework, and piece goods stores" : "662", "catalog and mail order houses" : "663", "vending machine operators" : "670", "direct selling establishments" : "671", "fuel dealers" : "672", "retail florists" : "681", "miscellaneous retail stores" : "682", "retail trade, n.s." : "691", "banking" : "700", "savings institutions, including credit unions" : "701", "credit agencies, n.e.c." : "702", "security, commodity brokerage, and investment companies" : "710", "insurance" : "711", "real estate, including real estate-insurance offices" : "712", "advertising" : "721", "services to dwellings and other buildings" : "722", "personnel supply services" : "731", "computer and data processing services" : "732", "detective and protective services" : "740", "business services, n.e.c." : "741", "automotive rental and leasing, without drivers" : "742", "automobile parking and carwashes" : "750", "automotive repair and related services" : "751", "electrical repair shops" : "752", "miscellaneous repair services" : "760", "private households" : "761", "hotels and motels" : "762", "lodging places, except hotels and motels" : "770", "laundry, cleaning, and garment services" : "771", "beauty shops" : "772", "barber shops" : "780", "funeral service and crematories" : "781", "shoe repair shops" : "782", "dressmaking shops" : "790", "miscellaneous personal services" : "791", "theaters and motion pictures" : "800", "video tape rental" : "801", "bowling centers" : "802", "miscellaneous entertainment and recreation services" : "810", "offices and clinics of physicians" : "812", "offices and clinics of dentists" : "820", "offices and clinics of chiropractors" : "821", "offices and clinics of optometrists" : "822", "offices and clinics of health practitioners, n.e.c." : "830", "hospitals" : "831", "nursing and personal care facilities" : "832", "health services, n.e.c." : "840", "legal services" : "841", "elementary and secondary schools" : "842", "colleges and universities" : "850", "vocational schools" : "851", "libraries" : "852", "educational services, n.e.c." : "860", "job training and vocational rehabilitation services" : "861", "child day care services" : "862", "family child care homes" : "863", "residential care facilities, without nursing" : "870", "social services, n.e.c." : "871", "museums, art galleries, and zoos" : "872", "labor unions" : "873", "religious organizations" : "880", "membership organizations, n.e.c." : "881", "engineering, architectural, and surveying services" : "882", "accounting, auditing, and bookkeeping services" : "890", "research, development, and testing services" : "891", "management and public relations services" : "892", "miscellaneous professional and related services" : "893", "executive and legislative offices" : "900", "general government, n.e.c." : "901", "justice, public order, and safety" : "910", "public finance, taxation, and monetary policy" : "921", "administration of human resources programs" : "922", "administration of environmental quality and housing programs" : "930", "administration of economic programs" : "931", "national security and international affairs" : "932", "army" : "940", "airforce" : "941", "navy" : "942", "marines" : "950", "coast guard" : "951", "armed forces, branch not specified" : "952", "military reserves or national guard" : "960", "unknown" : "998"}

                # this looks great
ind_one_digits = {'10/11' : 'NIU', 
                  '10/40' : 'AGRICULTURE, FORESTRY, AND FISHERIES', 
                  '40/60' : 'MINING', '60/60' : 'CONSTRUCTION', '60/392' : 'MANUFACTURING', '392/472' : 'TRANSPORTATION, COMMUNICATIONS, AND OTHER PUBLIC UTILITIES', '472/580' : 'WHOLESALE TRADE', '580/700' : 'RETAIL TRADE', '700/721' : 'FINANCE, INSURANCE, AND REAL ESTATE', '721/761' : 'BUSINESS AND REPAIR SERVICES', '761/800' : 'PERSONAL SERVICES', '800/812' : 'ENTERTAINMENT AND RECREATION SERVICES', '812/900' : 'PROFESSIONAL AND RELATED SERVICES', '900/932' : 'PUBLIC ADMINISTRATION', '932/960' : 'ACTIVE DUTY MILITARY', '960/998': 'UNKNOWN'}

In [14]:
#This code will take the code for the occ1990 occupation and using the two digit dictionary, 
# I found with range the value was in

# For the two digit, I returned the first value. 
# For ex. if code was 35, it would return 23 for Management Related Occupations.

def two(num):
    for x,y in two_digits.items():
        first, second = x.split("/")
        if int(num) in range(int(first), int(second)):
            return y
        
#For the one_digit, I returned the occupation. For ex, 'MANAGERIAL AND PROFESSIONAL SPECIALTY OCCUPATIONS'.
#This is because I will take this title and put it into the code 1-6 later.
def one(num):
    for x,y in one_digits.items():
        first, second = x.split("/")
            #This has a different +1 to the range because the values got sorted different, so that the start of the range is the one before it and the end is the last value of it. 
        if int(num) in range(int(first)+1, int(second)+1):
            return y
        
#The one digit industry function, takes the three digit industry code from below and then returns the title. For ex, 'AGRICULTURE, FORESTRY, AND FISHERIES'.
#This is because I will take this title and put it into the code 1-10 later.
def ind_one(num):
    for x,y in ind_one_digits.items():
        first, second = x.split("/")
        if int(num) in range(int(first)+1, int(second)+1):
            return y

In [15]:
#This code uses 1-digit to return the code value from the occupation using the dicitionary.
#Some of the occupation names had to be modified. For ex, add or remove "n.e.c"
for x in df["occ90ly"].unique():
    name = str(x).replace(":", ";").replace("print-makers", "printmakers").replace("craft-artists","craft artists").replace("food-serving", "food- serving").replace("  ", " ").replace("elsewhere-classified", "elsewhereclassified")
    fixed_name = str(x)+", n.e.c"
    name_stripped = str(x).strip(", n.e.c")
    if three_digits.get(x) != None:
        k = three_digits.get(x)
    
    elif three_digits.get(name_stripped) != None:
        k = three_digits.get(name_stripped) 
        
    elif three_digits.get(str(x)+".") != None: 
        k = three_digits[str(x)+"."] 
        
    elif three_digits.get(name) != None:
        k = three_digits.get(name)

    elif three_digits.get(fixed_name) != None: 
        k = three_digits[fixed_name]
        
    elif three_digits.get(fixed_name+".") != None: 
        k = three_digits[fixed_name+"."]
    
    elif x == "unknown" or x == "nan":
        k = "999"
    else:
        k = None
        if x != "machine operators, n.e.c":
            k = "999"
    if not (k == None):
        df["occ90ly"] = df["occ90ly"].replace(x,k)

In [17]:
# This took the values from occ1990 and put it into two_digit_occ
#Some of the values are not able to go through the definition two without returning None. 
# Since I can't/ don't want to replace with None, I used int() to make sure they were and integer before replacing. 

# AW: pls check if this needs deep copy.
df["two_digit_occ"] = df["occ90ly"]
for x in df["two_digit_occ"].unique():
    try:
        int(x)
        k = two(x)
        df["two_digit_occ"] = df["two_digit_occ"].replace(x,k)
    except ValueError:
        pass

#Now, I took the occupation name from the and returned the code.
two_digit_id = {'Executive, Administrative, and Managerial Occupations': '3', 'Management Related Occupations': '23', 'Professional Specialty Occupations Engineers, Architechts, and Surveyors': '43', 'Engineers': '44', 'Mathematical and Computer Scientists': '64', 'Natural Scientists': '69', 'Health Diagnosing Occupations': '84', 'Health Assessment and Treating Occupations': '95', 'Therapists': '98', 'Teachers, Postsecondary': '113', 'Teachers, Except Postsecondary': '155', 'Librarians, Archivists, and Curators': '164', 'Social Scientists and Urban Planners': '166', 'Social, Recreation, and Religious Workers': '174', 'Lawyers and Judges': '178', 'Writers, Artists, Entertainers, and Athletes': '183', 'Technicians and Related Support Occupations Health Technologists and Technicians': '203', 'Technologists and Technicians, Except Health Engineering and Related Technologists and Technicians': '213', 'Science Technicians': '224', 'Technicians, Except Health, Engineering, and Science': '226', 'Sales Occupations': '243', 'Sales Representatives, Finance and Business Services': '253', 'Sales Representatives,Commodities': '258', 'Sales Related Occupations': '283', 'Administrative Support Occupations,Including Clerical Supervisors, Administrative Support Occupations': '303', 'Computer Equipment Operators': '308', 'Secretaries, Stenographers, and Typists': '313', 'Information Clerks': '316', 'Records Processing Occupations, Except Financial': '326', 'Financial Records Processing Occupations': '337', 'Duplicating, Mail, and Other Office Machine Operators': '345', 'Communications Equipment Operators': '348', 'Mail and Message Distributing Occupations': '354', 'Material Recording, Scheduling, and Distributing Clerks': '359', 'Adjusters and Investigators': '375', 'Miscellaneous Administrative Support Occupations': '379', 'Private Household Occupations': '405', 'Protective Service Occupations Supervisors, Protective Service Occupations': '415', 'Firefighting and Fire Prevention Occupations': '417', 'Police and Detectives': '418', 'Guards': '425', 'Service Occupations, Except Protective and Household Food Preparation and Serivce Occupations': '434', 'Health Service Occupations': '445', 'Cleaning and Building Service Occupations, Except Households': '448', 'Personal Service Occupations': '456', 'Farm Operators and Managers': '473', 'Other Agricultural and Related Occupations: Farm Occupations, Except Managerial': '479', 'Related Agricultural Occupations': '485', 'Forestry and Logging Occupations': '496', 'Fishers, Hunters, and Trappers': '498', 'Mechanics and Repairers': '503', 'Mechanics and Repairers, Except Supervisors Vehicle and Mobile Equipment Mechanics and Repairers': '505', 'Electrical and Electronic Equipment Repairers': '523', 'Miscellaneous Mechanics and Repairers': '535', 'Construction Trades Supervisors, Construction Occupations': '558', 'Construction Trades, Except Supervisors': '563', 'Extractive Occupations': '614', 'Precision Production Occupations': '628', 'Precision Metal Working Occupations': '634', 'Precision Woodworking Occupations': '657', 'Precision Textile, Apparel, and Furnishings Machine Workers': '666', 'Precision Workers, Assorted Materials': '675', 'Precision Food Production Occupations': '686', 'Precision Inspectors, Testers, and Related Workers': '693', 'Plant and System Operators': '694', 'Machine Operators, Assemblers, and Inspectors Machine Operators and Tenders, Except Precision Metal Working and Plastic Working Machine Operators': '703', 'Metal and Plastic Processing Machine Operators': '719', 'Woodworking Machine Operators': '726', 'Printing Machine Operators': '734', 'Textile, Apparel, and Furnishings Machine Operators': '738', 'Machine Operators, Assorted Materials': '753', 'Fabricators, Assemblers, and Hand Working Occupations': '783', 'Production Inspectors, Testers, Samplers, and Weighers': '796', 'Transportation and Material Moving Occupations Motor Vehicle Operators': '803', 'Transportation Occupations, Except Motor Vehicles Rail Transportation Occupations': '823', 'Water Transportation Occupations': '829', 'Material Moving Equipment Operators': '844', 'Helpers, Construction and Extractive Occupations': '865', 'Freight, Stock, and Material Handlers': '875', 'Military' : '905', 'Unemployed': '991'}
for x in df["two_digit_occ"].unique():
    y = two_digit_id.get(x, 0)
    if y != 0:
        df["two_digit_occ"] = df["two_digit_occ"].replace(x, y)

In [33]:
# This took the values from occ1990 and put it into one_digit_occ
#Some of the values are not able to go through the definition one without returning None. Since I can't/ don't want to replace with None, I used int() to make sure they were and integer before replacing with label. 
df["one_digit_occ"] = df["occ90ly"]
for x in df["one_digit_occ"].unique():
    try:
        int(x)
        k = one(x)
        df["one_digit_occ"] = df["one_digit_occ"].replace(x,k)
    except ValueError:
        pass

#Now, I took the occupation name from the and returned the code.
one_digit_id = {'MANAGERIAL AND PROFESSIONAL SPECIALTY OCCUPATIONS' : 2, 'TECHNICAL, SALES, AND ADMINISTRATIVE SUPPORT OCCUPATIONS' : 3, 'SERVICE OCCUPATIONS' : 4, 'FARMING, FORESTRY, AND FISHING OCCUPATIONS' : 5, 'PRECISION PRODUCTION,CRAFT, AND REPAIR OCCUPATIONS' : 1, 'OPERATORS, FABRICATORS, AND LABORERS' : 1, 'MILITARY OCCUPATIONS' : 6, 'EXPERIENCED UNEMPLOYED NOT CLASSIFIED BY OCCUPATION': 7}
for x in df["one_digit_occ"].unique():
    y = one_digit_id.get(x, 0)
    if y != 0:
        df["one_digit_occ"] = df["one_digit_occ"].replace(x, y)

In [34]:
#This drops the values in occ1990 that are None.
df = df.dropna(subset=['occ90ly'])

In [35]:
# AW: can you only do head for 3digit, 2digit, and 1digit occupations
#df[["occ90ly", "two_digit_occ", "one_digit_occ"]].to_csv("./Desktop/hg.csv")
df.head()

,year,serial,month,hwtfinl,cpsid,asecflag,hflag,asecwth,pernum,wtfinl,...,wkswork1,uhrsworkly,fullpart,firmsize,incwage,oincbus,oincfarm,paidgh,two_digit_occ,one_digit_occ
415399,1968,1,march,NaN,NaN,NaN,NaN,1163.22,1,NaN,...,NaN,NaN,full-time,0,0.0,NaN,NaN,NaN,183,2
415400,1968,1,march,NaN,NaN,NaN,NaN,1163.22,2,NaN,...,NaN,NaN,niu,0,0.0,NaN,NaN,NaN,991,7
415401,1968,1,march,NaN,NaN,NaN,NaN,1163.22,3,NaN,...,NaN,NaN,niu,0,99999999.0,NaN,NaN,NaN,991,7
415402,1968,1,march,NaN,NaN,NaN,NaN,1163.22,4,NaN,...,NaN,NaN,niu,0,99999999.0,NaN,NaN,NaN,991,7
415403,1968,2,march,NaN,NaN,NaN,NaN,1254.56,1,NaN,...,NaN,NaN,niu,0,0.0,NaN,NaN,NaN,991,7

In [36]:
df["ind1"] = df["ind90ly"]
#This takes the ind variable and puts a three digit value to it. 
#We need the three digit value to figure out which one digit category it is in.
for x in df["ind1"].unique():
    if ind_three_digits.get(x) != None:
        k = ind_three_digits.get(x)
    elif ind_three_digits.get(x+".") != None:
        k = ind_three_digits.get(x+".")
    elif x == "niu":
        k = "998"
    else:
        k = None
    if not (k == None):
        df["ind1"] = df["ind1"].replace(x,k)


#This takes the three digit value and using the fuction above, it uses range to figure out which category such as "MINING"
for x in df["ind1"].unique():
    k = ind_one(x)
    if k != None:
        df["ind1"] = df["ind1"].replace(x,k)
        
#This tells the one digit industry code from the header.
ind_one_digit_id = {'AGRICULTURE, FORESTRY, AND FISHERIES' : '2', 
                    'MINING' : '2', 
                    'CONSTRUCTION' : '3',
                    'MANUFACTURING' : '1', 
                    'TRANSPORTATION, COMMUNICATIONS, AND OTHER PUBLIC UTILITIES' : '4', 
                    'WHOLESALE TRADE' : '5', 
                    'RETAIL TRADE' : '5','FINANCE, INSURANCE, AND REAL ESTATE' : 6,'BUSINESS AND REPAIR SERVICES' :7, 'PERSONAL SERVICES' : '8','ENTERTAINMENT AND RECREATION SERVICES' : '9','PROFESSIONAL AND RELATED SERVICES': '10', 'PUBLIC ADMINISTRATION': '11', 'ACTIVE DUTY MILITARY': '12', 'UNKNOWN':'13'}
for x in df["ind1"].unique():
    y = ind_one_digit_id.get(x, 0)
    if y != 0:
        df["ind1"] = df["ind1"].replace(x, y)
    else:
        print(x)

10
NIU

In [37]:
# Please redo using new stata file

#Made variable years school. 
# Ask Alex: Did NOT included Kindergarten as a year.
# Ask Alex: Count "some college but no degree" as 1 year bc most people drop out after one year. 
# Ask Alex: 5 years for doctorate. 
# Ask Alex, unknown / niu equals 12



df["years_school"] = df["educ"]
for x in df["years_school"].unique():
    if ("grade" in x) or ("none" in x) or ("high school" in x):
        #this is because when calculating the expierience variable, if the years is less than 12 then it is still 12
        df["years_school"] = df["years_school"].replace(x, 12)
        
    elif "college" in x and x != "some college but no degree":
        k = 12 + int(x.split()[0].split("+")[0])
        df["years_school"] = df["years_school"].replace(x, k)
    elif x == "some college but no degree":
        df["years_school"] = df["years_school"].replace(x, 13)
    elif x == "bachelor's degree":
        df["years_school"] = df["years_school"].replace(x, 16)
    elif (x == "master's degree") or ("associate's degree" in x):
        df["years_school"] = df["years_school"].replace(x, 18)
    elif x == "doctorate degree":
        df["years_school"] = df["years_school"].replace(x, 21)
    elif x == "professional school degree":
        df["years_school"] = df["years_school"].replace(x, 18)
    else: 
        df["years_school"] = df["years_school"].replace(x, 12)

In [40]:
df['age'].value_counts()
df["age"] = df["age"].replace("90 (90+, 1988-2002)", "90")
df["age"]

15    192993
16    192368
14    192007
17    190840
12    181065
       ...
95       347
96       243
97       174
99       161
98       118
Name: age, Length: 100, dtype: int64

In [39]:
df["age_integers"] = df["age"]
for x in df["age_integers"].unique():
        if x == "under 1 year":
            df["age_integers"] = df["age_integers"].replace(x, 0)
            x = 0
        try: 
            k = int(x.split("+")[0])
        except AttributeError: k = int(x)
        df["age_integers"] = df["age_integers"].replace(x, k)
df = df.dropna(subset=['age_integers', 'years_school'])
df = df[df['age_integers'] >= 18]

In [40]:
#Make variable expierience (age-max(years_school, 12)) -6
df[["age_integers", "years_school"]] = df[["age_integers", "years_school"]].astype('int64')
df['Expierience'] = (df["age_integers"]-df["years_school"]) - 6
df["Expierience^2"] = (df["Expierience"] ** 2 )
df.head()

,year,serial,month,hwtfinl,cpsid,asecflag,hflag,asecwth,pernum,wtfinl,...,oincbus,oincfarm,paidgh,two_digit_occ,one_digit_occ,ind1,years_school,age_integers,Expierience,Expierience^2
415399,1968,1,march,NaN,NaN,NaN,NaN,1163.22,1,NaN,...,NaN,NaN,NaN,183,2,8,12,28,10,100
415400,1968,1,march,NaN,NaN,NaN,NaN,1163.22,2,NaN,...,NaN,NaN,NaN,991,7,13,13,28,9,81
415403,1968,2,march,NaN,NaN,NaN,NaN,1254.56,1,NaN,...,NaN,NaN,NaN,991,7,13,16,71,49,2401
415404,1968,3,march,NaN,NaN,NaN,NaN,1254.56,1,NaN,...,NaN,NaN,NaN,991,7,13,12,70,52,2704
415405,1968,4,march,NaN,NaN,NaN,NaN,1243.78,1,NaN,...,NaN,NaN,NaN,23,2,4,16,46,24,576

In [43]:
df = df.reset_index(drop=True)
if len(df.columns) > 12:
    df = df.drop(['serial', 'month', 'hwtfinl', 'cpsid', 'asecflag', 'hflag', 'pernum', 'wtfinl', 'cpsidp', 'asecwt', 'relate', 'marst', 'educ', 'occly', 'marst', 'educ', 'occly', 'ind90ly','occ10ly', 'classwly', 'wkswork1', 'uhrsworkly', 'fullpart', 'incwage', 'oincbus', 'oincfarm', 'paidgh', 'age_integers', 'years_school'], axis=1)
df = df.rename(columns={'occ90ly': "3digit occupation", "firmsize" : "Big Firm", "one_digit_occ": "1digit occupation", "two_digit_occ": "2digit occupation", "ind1": "1digit industry", "sex" : "Male", "race": "White"})
k = {}
for x in df.columns:
    k[x] = x.capitalize()
df = df.rename(columns=k)
columnsTitles = ['Year', '3digit occupation', '2digit occupation', '1digit occupation', 'Age', 'Asecwth', 'Expierience','Male', 'White', 'Expierience^2','1digit industry', 'Big firm']
df = df.reindex(columns=columnsTitles)

In [44]:
df.to_csv("/Users/jsusser/Desktop/current_values.csv")

In [42]:
# Make a variable implied wage. Individual wage or hourly wage = Annual earnings divided by annual hours works
# df[["uhrsworkly", "incwage"]].head()
# df.dropna(axis=1, how="all")
df.head()

,Year,3digit occupation,2digit occupation,1digit occupation,Age,Asecwth,Expierience,Male,White,Expierience^2,1digit industry,Big firm
0,1968,189,183,2,28,1163.22,10,1,1,100,8,0
1,1968,999,991,7,28,1163.22,9,0,1,81,13,0
2,1968,999,991,7,71,1254.56,49,0,1,2401,13,0
3,1968,999,991,7,70,1254.56,52,0,1,2704,13,0
4,1968,23,23,2,46,1243.78,24,1,1,576,4,0